body {
    background-color:red;
}

/* Based on Bootstrap .btn* styles */
.button-action,
.button-toggle {
    border: 0.9px solid #343a40;
    color: #fff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #343a40;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    outline: none;

    -webkit-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;

    -webkit-appearance: button;
    margin: 0px;
}

.button-action:focus,
.button-toggle:focus {
    outline: 0 none black;
}

.button-action::-moz-focus-inner,
.button-toggle::-moz-focus-inner {
    border: 0;
}

.button-action:not(:disabled):not(.disabled),
.button-toggle:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.button-action:hover,
.button-toggle:hover:not(.toggled) {
    /*color: #0069d9;*/
    /*color: hsl(211, 100%, 25%);*/
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    text-decoration: none;
}

.button-toggle.toggled {
    background-color: #0069d9;
    color: #fff;
    border-color: #0062cc;
}

.button-toggle.toggled.second-stage {
    background-color: #218838;
    color: #fff;
    border-color: #218838;
}

.hide {
    display: none !important;
}

.toolbar {
    /*background-color: hsl(0, 0%, 98%);*/
    border-radius: .5rem;
}

.toolbar>div {
    margin: 10px 5px;
}

#projectsOverview>div {
    margin: 5px;
}
