---
layout: uavDefault
---


<div class="container-fluid page-container">
    <div id="leftside" class="panel-left">
        <div id="sidebarLeft" class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    {% if page.title == "Overzicht" %}
                        <a class="active disabled" href="#">Overzicht</a>
                    {% else %}
                        <a href="{{ "/uavlatex/materiaal" | relative_url }}">Overzicht</a>
                    {% endif %}
                </li>
                <!--

                    Figuren subcaption

                    1. Inleiding

                    --------------
                    2. Tekstopmaak

                    Kaders
                    Lijntjes
                    Speciale symbolen
                    Transformaties (draaien, schalen, spiegelen, verschuiven)
                    Lettertype
                    Glue, breaks, penalty

                    --------------
                    3. Documentstructuur

                    Index & Listoffigures
                    Hyperref
                    Headers en footers
                    Meer titels
                    Inhoudstabel fijnafstemming

                    --------------
                    4. Afbeeldingen

                    Referentie Wikibooks
                    Vector vs raster graphic
                    Lijsticoontjes

                    --------------
                    5. Formules

                    Theorem, lemma and co.
                    Detexify, CTAN comprehensive list
                    Matrices
                    Wiskundegerelateerde environments: de hele parade
                    Formulenummers
                    Commath & Mathtools
                    DeclareMathOperator
                    Letteroverzicht

                    --------------
                    6. Bibliografie

                    Lopende-tekstcitaties
                    Nocite

                    --------------
                    7. Goed om te weten


                    --------------
                    *. Misc

                    Tabellen
                    Nummeringen

                    Versiebeheer (git)
                    Backups
                    VS Code
                    Shortcuts (en toetsenbord handigheid)
                    Biber
                    Subfiles
                    Commando's inspecteren, typeout, meaning, the
                    Counters
                    LaTeX snippets

                    % Witruimte

                    Beamer
                -->
                <li class="sidebar-segment">
                    <span>1. Inleiding</span>
                </li>
                <li class="sidebar-segment">
                    <span>2. Tekstopmaak</span>
                </li>
                <li>
                    {% if page.title == "Lijntjes" %}
                        <a class="active disabled" href="#">Extra: Lijntjes</a>    
                    {% else %}
                        <a href="{{ "/uavlatex/extras/tekstopmaak/lijntjes" | relative_url }}">Extra: Lijntjes</a>
                    {% endif %}
                </li>
                <li>
                    {% if page.title == "Speciale tekens" %}
                        <a class="active disabled" href="#">Extra: Speciale tekens</a>    
                    {% else %}
                        <a href="{{ "/uavlatex/extras/tekstopmaak/specialeTekens" | relative_url }}">Extra: Speciale tekens</a>
                    {% endif %}
                </li>

                <li class="sidebar-segment">
                    <span>3. Documentstructuur</span>
                </li>
                <li class="sidebar-segment">
                    <span>4. Afbeeldingen</span>
                </li>

                <li class="sidebar-segment">
                    <span>5. Formules</span>
                </li>
                <li>
                    {% if page.title == "Formulenummers" %}
                        <a class="active disabled" href="#">Extra: Formulenummers</a>    
                    {% else %}
                        <a href="{{ "/uavlatex/extras/formulenummers" | relative_url }}">Extra: Formulenummers</a>
                    {% endif %}
                </li>
                <li>
                    {% if page.title == "Matrices" %}
                        <a class="active disabled" href="#">Extra: Matrices</a>    
                    {% else %}
                        <a href="{{ "/uavlatex/extras/matrices" | relative_url }}">Extra: Matrices</a>
                    {% endif %}
                </li>

                <li class="sidebar-segment">
                    <span>6. Bibliografie</span>
                </li>
                <li class="sidebar-segment">
                    <span>7. Goed om te weten</span>
                </li>
                <li class="sidebar-segment">
                    <span>8. Misc</span>
                </li>
                <li>
                    {% if page.title == "Tabellen" %}
                        <a class="active disabled" href="#">Extra: Tabellen</a>    
                    {% else %}
                        <a href="{{ "/uavlatex/extras/tabellen" | relative_url }}">Extra: Tabellen</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-center" style="display:block;">
        <div style="display:flex;width:100%;height:100%;">
        <div id="leftFiller" class="left-filler">
        </div>
        {% assign mainpageclass = "" %}
        {% if page.text-align == "left" %}
            {% assign mainpageclass = "align-left" %}
        {% endif %}
        <!-- {{ page.text-align }} -->

        <div id="mainpage" class="mainpage {{ mainpageclass }}">
            {{ content }}
        </div>
        <div id="rightFiller" class="right-filler">
        </div>
        </div>
    </div>
    <!-- <div style="flex:1 1 60em;display:flex;">
        <div id="mainpage" class="mainpage" style="flex:0 1 60em;min-width:20ch;padding:15px;">
            <div style="text-align:justify;">
                <p>
                    Some text
                </p>
            </div>
        </div>
        <div id="siderbarRight" class="siderbar-right right-filler"
            style="flex:1 0 0px;max-width:10ch;max-width:calc(10ch + 10px);">

        </div>
    </div> -->
    <div id="rightside" class="panel-right">
    </div>
</div>
