@use "inputs.scss";

.simView,
.simView.align-justify {
    background-color: #eee;
    font-family: 'Consolas', 'Courier New', monospace;
    display: grid;
    color: black;
    width: 200px;
    // height: 128px;
    //width: initial;
    grid-template-columns: repeat(16, 12px);
    grid-template-rows: repeat(8, 16px);
    padding: 5px;

    span {
        line-height: 16px;
        text-align: center;
    }
}

.tiBasicSimulator {
    font-family: 'Consolas', 'Courier New', monospace;
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 10px;

    * {
        box-sizing: border-box;
    }
}

.tryitButtons {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 2cm;
    gap: 5px;
    align-content: flex-start;
}


.tiCode {
    font-family: 'Consolas', 'Courier New', monospace;
    display: flex;
    max-height: 400px;
    //max-height: MAX(90vh, 400px);
    max-height: none;
    padding-bottom: 10px;
    overflow: auto;
    gap: 0px;
    padding: 8px;

    // Vertical situation
    // flex-flow: column wrap;
    // align-content: center;

    // Horizontal situation
    flex-flow: row wrap;
    align-content: flex-start;
}

.tiCode.ti-blocks {
    justify-content: center;
}

ti-viewer:not(.collapsed).overwide {
    display: block;
    position: relative;
    width: calc(max(100%, 70vw));
    margin-left: calc((100% - MAX(100%, 70vw))/2);
}

.tiViewer:not(.collapsed).overwide {
    position: relative;
    width: calc(max(100%, 70vw));
    margin-left: calc((100% - MAX(100%, 70vw))/2);
}

.tiViewer.minimal [data-id="showCode"] {
    @extend .hide;
}

.tiViewer {
    @extend .card;
    margin-bottom: 10px;
}

.tiViewer.collapsed>.tiCode {
    @extend .hide;
}

.pseudoCode {
    font-family: 'Consolas', 'Courier New', monospace;
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
}

.pseudoCode>span {
    padding-left: 3px;
}

// .tiCode > div, .tiCode > span {
//     box-shadow: 0 0 3px -1px black;
//     padding: 5px;
//     display: flex;
//     flex-flow: column nowrap;
//     margin: 0px;
// }

.tiCode>div,
.tiCode>span {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

.tiCode.ti-blocks>div>span,
.tiCode.ti-blocks>span>span {
    // position: relative;
    // left: -1px;
    // right: 1px;
    // top: -1px;
    // bottom: 1px;
    //box-shadow: 0 0 0px 2px black;
    padding: 15px;
    padding-left: 8px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

// .tiCode.ti-blocks > span > span > span {
//     padding-left: 3px;
// }

.bordercolor {
    padding-left: 3px;
}

// .tiCode > span > .fr {
//     box-shadow: 0 0 0px 10px black;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     width: calc(100% - 10px);
//     height: calc(100% - 10px);
//     //background-color: red;
// }

// .tiCode > span > .fr {
//     box-shadow: 0 0 1px 6px hsl(0, 100%, 10%) inset;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     width: calc(100% + 6px);
//     height: calc(100% + 6px);
//     //background-color: red;
// }

.tiCode.ti-blocks>span>.fr {
    border-left: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    left: 0px;
    top: 50%;
    //top: calc(50% - 10px);
    top: 5%;
    width: 100%;
    //height: 20px;
    height: 90%;
    width: calc(100% - 2px);
    z-index: -1;
    display: none;
    //background-color: red;
}

// .tiCode > span > .fr {
//     border-left: 5px solid black;
//     border-right: 5px solid black;
//     position: absolute;
//     left: 0px;
//     top: 50%;
//     top: calc(50% - 2.5px);
//     width: 100%;
//     //height: 20px;
//     height: 5px;
//     width: calc(100% - 5px);
//     z-index: -1;
//     //background-color: red;
// }



// .tiCode > span > .fr-horiz {
//     border-top: 2px solid black;
//     border-bottom: 2px solid black;
//     position: absolute;
//     left: 20%;
//     top: 0px;
//     width: 60%;
//     height: 100%;
//     height: calc(100% - 2px);
//     z-index: -1;
// }

.tiCode.ti-blocks>span>.fr-horiz {
    border-top: 5px solid black;
    //border-bottom: 5px solid black;
    position: absolute;
    left: 50%;
    left: calc(50% - 2.5px);
    top: 0px;
    width: 5px;
    height: 100%;
    height: calc(100% - 5px);
    z-index: -1;
}