

.tiCode {
    font-family: 'Consolas','Courier New',monospace;
    display: flex;
    flex-flow: row wrap;
    max-height: 400px;
    max-height: MAX(90vh, 400px);
    padding-bottom: 10px;
    overflow-x: auto;
    align-content: center;
    //padding: 6px;
    gap: 0px;
    padding: 8px;
}

// .tiCode > div, .tiCode > span {
//     box-shadow: 0 0 3px -1px black;
//     padding: 5px;
//     display: flex;
//     flex-flow: column nowrap;
//     margin: 0px;
// }

.tiCode > div, .tiCode > span {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

.tiCode > div > span, .tiCode > span > span {
    // position: relative;
    // left: -1px;
    // right: 1px;
    // top: -1px;
    // bottom: 1px;
    //box-shadow: 0 0 0px 2px black;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

// .tiCode > span > .fr {
//     box-shadow: 0 0 0px 10px black;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     width: calc(100% - 10px);
//     height: calc(100% - 10px);
//     //background-color: red;
// }

// .tiCode > span > .fr {
//     box-shadow: 0 0 1px 6px hsl(0, 100%, 10%) inset;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     width: calc(100% + 6px);
//     height: calc(100% + 6px);
//     //background-color: red;
// }

.tiCode > span > .fr {
    border-left: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    left: 0px;
    top: 50%;
    //top: calc(50% - 10px);
    top: 5%;
    width: 100%;
    //height: 20px;
    height: 90%;
    width: calc(100% - 2px);
    z-index: -1;
    display: none;
    //background-color: red;
}

// .tiCode > span > .fr {
//     border-left: 5px solid black;
//     border-right: 5px solid black;
//     position: absolute;
//     left: 0px;
//     top: 50%;
//     top: calc(50% - 2.5px);
//     width: 100%;
//     //height: 20px;
//     height: 5px;
//     width: calc(100% - 5px);
//     z-index: -1;
//     //background-color: red;
// }



// .tiCode > span > .fr-horiz {
//     border-top: 2px solid black;
//     border-bottom: 2px solid black;
//     position: absolute;
//     left: 20%;
//     top: 0px;
//     width: 60%;
//     height: 100%;
//     height: calc(100% - 2px);
//     z-index: -1;
// }

.tiCode > span > .fr-horiz {
    border-top: 5px solid black;
    //border-bottom: 5px solid black;
    position: absolute;
    left: 50%;
    left: calc(50% - 2.5px);
    top: 0px;
    width: 5px;
    height: 100%;
    height: calc(100% - 5px);
    z-index: -1;
}
